body {
  color: #000;
  background: #fff;
  font-family: 'Times New Roman', serif;
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.header {
  background: no-repeat center/cover url(./components/img/header-background.jpg), #FFFFFF;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
}

.header__container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 1180px;
  width: 95vw;
  height: 130px;
}

.header__news-logo {
  display: flex;
  flex-direction: column;
  width: 580px;
  margin: 17px 20px 0;
}

.header__news-logo_link {
  text-decoration: none;
}

.header__news-logo_upper {
  align-self: flex-start;
  width: 350px;
  background: no-repeat center/contain url(./components/img/header-logo-MadeBy.svg);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
}

.header__news-logo_lower {
  position: relative;
  top: -4px;
  align-self: flex-end;
  width: 530px;
  background: no-repeat center/contain url(./components/img/header-logo-newsAPI.svg);
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 66px;
  text-align: center;
  color: #FFFFFF;
}

.header__links {
  display: flex;
  gap: 20px;
  padding: 0;
}


  .header__dropdown {
    display: flex;
    position: relative;
    width: 180px;
    height: 26px;
    box-sizing: border-box;
    padding: 3px 10px;
    justify-content: space-between;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    border: 1px solid #00009D;
    color: #00009D;
    border-radius: 4px;
  }

  .header__dropdown-arrow {
    width: 15px;
  }

  .header__dropdown-list {
    position: absolute;
    left: 0;
    top: 24px;
    margin: 0;
    padding: 0;
    border-radius: 4px;
    display: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    width: 100%;
    z-index: 3;
  }

  .header__dropdown-item {
    clear: both;
    list-style: none;
    display: block;
    padding: 0 10px;
    background: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    margin: 0px auto;
    line-height: 28px;
    width: 100%;
  }

  .header__dropdown:hover,
  .header__dropdown:focus {
    background: rgba(255, 255, 255, 0.7);
  }

  .header__dropdown:hover>.header__dropdown-list,
  .header__dropdown:focus>.header__dropdown-list {
    display: block;
    animation: fadeInRight 0.3s ease;
    -webkit-animation: fadeInRight 0.3s ease;
  }

  .header__dropdown-item:hover,
  .header__dropdown-item:focus {
    background: rgba(208, 228, 240, 1);
    cursor: pointer;
  }

  @keyframes fadeInRight {
    0% {
      opacity: 0;
      transform-origin: top center;
      transform: scaleY(0);
    }

    100% {
      opacity: 1;
      transform: none;
    }
  }

  .main {
    min-height: calc(100vh - 272px);
  }

  .footer {
    background: no-repeat center/cover url(./components/img/footer-background.jpg), #1F1C1C;
    display: flex;
    padding: 20px 0;
  }

  .footer__container {
    display: flex;
    flex: 0 1 95vw;
    justify-content: space-between;
    margin: auto;
    max-width: 1180px;
    height: 100px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #fff;
  }

  .footer__RS {
    align-self: center;
  }

  .footer__copyright {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
  }

  .footer__contact {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
  }

  .footer a {
    color: #fff;
  }

  .footer a:hover {
    color: #28AAE1;
  }

  @media (max-width: 1180px) {
    .header__links {
      flex-direction: column;
      gap: 15px;
      margin: 10px 0;
    }
  }

  @media (max-width: 840px) {
    .footer__container {
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 10px;
      height: auto;
    }

    .footer__RS,
    .footer__copyright,
    .footer__contact {
      margin: auto 20px;
    }

    .footer__copyright {
      order: 1;
    }

    .main {
      min-height: calc(100vh - 336px);
    }  
  }
  
  @media (max-width: 800px) {
    .header__container {
      flex-direction: column;
      height: auto;
    }
  
    .header__links {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 20px;
      margin: 20px;
    }

    .main {
      min-height: calc(100vh - 385px);
    }  
  }

  @media (max-width: 640px) {
    .header__news-logo {
      width: 400px;
    }

    .header__news-logo_lower {
      width: 430px;
      font-size: 20px;
      line-height: 56px;
    }

    .main {
      min-height: calc(100vh - 375px);
    }  
  }
  
  @media (max-width: 480px) {
    .main {
      min-height: calc(100vh - 511px);
    }  

    .header__links {
      flex-direction: column;
      gap: 15px;
      margin: 10px 20px;
      align-items: center;
    }

    .header__container {
      align-items: center;
    }

    .header__news-logo {
      width: auto;
    }

    .header__news-logo_upper {
      width: 300px;
      font-size: 12px;
      line-height: 22px;
    }

    .header__news-logo_lower {
      width: 320px;
      font-size: 16px;
      line-height: 44px;
    }
  }
