$font-serif: Georgia, 'Times New Roman', Times, serif;

@font-face {
    font-family: 'Arial';
    src: url('../../assets/fonts/arial.ttf');
    src: local('Arial'), local('Arial Regular'),
           url('../../assets/fonts/arial.woff') format('woff');
  }

@font-face {
    font-family: 'Georgia';
    src: url('../../assets/fonts/georgia.ttf');
    src: local('Georgia'), local('Georgia Regular'),
           url('../../assets/fonts/georgia.woff') format('woff');
  }
  
@import "../../sass/mixins";

html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

a {
        text-decoration: none;
        color: inherit;
      }
    
p {
        font-size: 15px;
        line-height: 160%;
    }

h3 {
        font-family: $font-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #545454;
    }

h4 {
    font-family: $font-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
}
h5 {
    font-family: $font-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
}

#header {
    background: #FFFFFF;
    padding: 30px 0 30px;
    position: fixed;
    top: 0;
    width: 100%;
}

header {
    position: relative;
    width: 1200px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    h1 {
        font-family: $font-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 110%;
        letter-spacing: 0.06em;
        color: #545454;
        margin: 0;
        margin-bottom: 10px;
    }

    p {
        display: flex;
        justify-content: center;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.1em;
        margin: 0 auto;
        width: auto;
        color: #292929;
    }
    
    ul {
        display: flex;
        
        li {
            display: flex;
            margin-top: 16px;
            margin-left: 36px;
            color: #545454;
            font-size: 15px;
            line-height: 160%;
       
        a.active, a:active {
            border-bottom: 3px solid #F1CDB3;
        }
        a:hover, a:focus {
            color:#292929;
        }
        }
    }
}

#our-friends {
    background: #F6F6F6;
    padding: 200px 0 100px;
}

.our-friends {

    margin: 0 auto;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 60px;

    h3 {
        width: 400px;
    }
  

    .slider {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 1200px;
        row-gap: 30px;
    }

    .slide {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 270px;
        height: 435px;
        align-items: center;
        background: #FAFAFA;
        border-radius: 9px;
        transition: .3s all;
        img {
            width: auto;
            border-radius: 9px 9px 0px 0px;
        }
        &:hover {
            background: #FFFFFF;
            cursor: pointer;
            box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
        }
        &:hover > .learn-more {
            background: #FDDCC4;
            border: 2px solid #FDDCC4; 
        }
    }

    .card-title {
        font-family: $font-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.06em;
        color: #545454;
    }

    .learn-more {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 187px;
        height: 52px;
        font-family: $font-serif;
        font-size: 17px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #292929;
        background: inherit;
        border-radius: 100px;
        border: 2px solid #F1CDB3;
        transition: .2s all;

        &:hover, &:active, &:focus {
            background: #FDDCC4;
            border: 2px solid #FDDCC4;  
            cursor: pointer;         
        }
       }
    }
    
    .nav-container {
        display: flex;
        gap: 20px;
        align-items: center;

    .button-text {
        width: 52px;
        height: 52px;
        border: 2px solid #F1CDB3;
        background-color: inherit;
        box-sizing: border-box;
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .2s all;
        font-family: $font-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: #292929;

        &.inactive{
            border: 2px solid #CDCDCD;
            color: #CDCDCD;
        }

        &.active {
            background: #F1CDB3;
            border: 2px solid #F1CDB3;  
        }

        &:hover, &:focus {
            &:not([disabled]) {
            background: #FDDCC4;
            border: 2px solid #FDDCC4;  
            cursor: pointer;
        }
    }
    }

    .right {
        transform: rotate(-180deg);
    }
}


footer {
    background: center/cover no-repeat url('../../assets/images/footer-gradient-background.jpg');
    color: #F1CDB3;
    padding-top: 40px;

    .contacts {
        position: relative;
        width: 1200px;
        height: 310px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;

        h3 {
            color: #FFFFFF;
        }

        .email {
            margin-top: 16px;
            width: 280px;
            display: flex;
            flex-direction: column;
            gap: 40px;
            img {
                margin-right: 20px;
            }
        }

        .place {
            margin-top: 16px;
            width: 302px;
            display: flex;
            flex-direction: column;
            gap: 33px;
            img {
                margin-right: 20px;
            }
        }

        
    }

    h4.footer {
        color: #F1CDB3;
        display: flex;
        align-items: center;
    }

    img {
        height: auto;
}
}