@charset "UTF-8";
@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/arial.ttf");
  src: local("Arial"), local("Arial Regular"), url("../../assets/fonts/arial.woff") format("woff");
}
@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/georgia.ttf");
  src: local("Georgia"), local("Georgia Regular"), url("../../assets/fonts/georgia.woff") format("woff");
}
.hamburger__line, .hamburger:after, .hamburger:before {
  display: inline-block;
  position: absolute;
  background: #000000;
  border-radius: 5px;
  content: "";
  height: 2px;
  width: 100%;
}

.hamburger {
  display: none;
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 22px;
  z-index: 10;
  margin-right: 23px;
  transition: all 0.5s;
}
@media (max-width: 767px) {
  .hamburger {
    display: inline-block;
  }
}
.hamburger:before {
  top: 0;
  left: 0;
}
.hamburger:after {
  bottom: 0;
  left: 0;
}
.hamburger.opened {
  position: fixed;
  top: 48px;
  right: 30px;
  transform: rotate(-90deg);
}

.hamburger-logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 30px 10px;
}
.hamburger-logo h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  margin: 0;
  margin-bottom: 10px;
}
.hamburger-logo p {
  display: flex;
  justify-content: center;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  margin: 0 auto;
  width: auto;
}

.hamburger__line {
  top: calc(50% - 1px);
  left: 0;
}

.header__hamburger-menu {
  position: fixed;
  z-index: 8;
  width: 320px;
  height: 100vh;
  background: #292929;
  transition: all 0.5s;
  right: -100%;
}
.header__hamburger-menu.opened {
  right: 0;
  visibility: visible;
}
.header__hamburger-menu .header__hamburger-list {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  margin: auto;
  position: relative;
  top: calc(50% - 90px);
  transform: translateY(calc(-50% + 45px));
}
.header__hamburger-menu .header__hamburger-list li {
  display: flex;
  margin: 0 auto 0;
  color: #CDCDCD;
  font-size: 32px;
  line-height: 51px;
}
.header__hamburger-menu .header__hamburger-list li a.active, .header__hamburger-menu .header__hamburger-list li a:active {
  color: #FFFFFF;
  border-bottom: 3px solid #F1CDB3;
}
.header__hamburger-menu .header__hamburger-list li a:hover, .header__hamburger-menu .header__hamburger-list li a:focus {
  color: #FFFFFF;
}

.overlay {
  position: fixed;
  z-index: 6;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(41, 41, 41, 0.6);
  transition: opacity 0.5s, visibility 0.5s;
}
.overlay.hidden {
  opacity: 0;
  visibility: hidden;
}

.popup {
  position: relative;
}

.popup__wrapper {
  display: flex;
  background: #FAFAFA;
  border-radius: 9px;
  width: 900px;
  height: 500px;
  transition: all 0.5s;
  pointer-events: none;
}
@media (max-width: 1279px) {
  .popup__wrapper {
    width: 630px;
    height: auto;
  }
}
@media (max-width: 767px) {
  .popup__wrapper {
    width: 240px;
    height: auto;
  }
}

.popup__image {
  width: 500px;
  height: 500px;
  border-radius: 9px;
}
@media (max-width: 1279px) {
  .popup__image {
    width: auto;
    height: auto;
    min-width: 350px;
    min-height: 350px;
  }
}
@media (max-width: 767px) {
  .popup__image {
    display: none;
  }
}

.popup__text {
  padding: 50px 30px 30px 20px;
  width: 352px;
}
@media (max-width: 1279px) {
  .popup__text {
    width: 260px;
    padding: 10px;
  }
}
@media (max-width: 767px) {
  .popup__text {
    width: auto;
    text-align: center;
  }
}
.popup__text h3 {
  font-size: 35px;
  line-height: 45px;
  color: #000000;
}
.popup__text h4 {
  padding-top: 10px;
  color: #000000;
}
.popup__text p {
  padding: 40px 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.06em;
  color: #000000;
}
@media (max-width: 1279px) {
  .popup__text p {
    padding: 20px 0;
    font-size: 13px;
    line-height: 14px;
  }
}
@media (max-width: 767px) {
  .popup__text p {
    text-align: justify;
  }
}

.popup__list {
  position: relative;
  list-style: none;
  margin-left: 0;
  padding-left: 1em;
}
.popup__list li {
  padding-bottom: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.06em;
  color: #000000;
}
@media (max-width: 1279px) {
  .popup__list li {
    padding-bottom: 5px;
  }
}
@media (max-width: 767px) {
  .popup__list li {
    text-align: left;
  }
}
.popup__list li:before {
  content: "•";
  color: #F1CDB3;
  position: absolute;
  left: 0;
}

.popup__button {
  position: absolute;
  right: -42px;
  top: -52px;
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  background: none;
  box-sizing: border-box;
  border-radius: 100px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  transition: 0.2s all;
}
@media (max-width: 767px) {
  .popup__button {
    right: -32px;
  }
}
.popup__button:hover, .popup__button.hover {
  background: #FDDCC4;
  border: 2px solid #FDDCC4;
  cursor: pointer;
}
.popup__button.nohover:hover {
  border: 2px solid #F1CDB3;
  background: transparent;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-size: 15px;
  line-height: 160%;
}

h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

h4 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}

h5 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}

#header {
  background: #FFFFFF;
  padding: 30px 0 30px;
  position: fixed;
  z-index: 5;
  top: 0;
  width: 100%;
}

.hamburger {
  display: none;
  cursor: pointer;
  position: fixed;
  top: 48px;
  right: 30px;
  width: 30px;
  height: 22px;
  z-index: 10;
  margin-right: 23px;
  transition: all 0.5s;
}
@media (max-width: 767px) {
  .hamburger {
    display: inline-block;
  }
}
.hamburger:before {
  top: 0;
  left: 0;
}
.hamburger:after {
  bottom: 0;
  left: 0;
}
.hamburger.opened {
  rotate: -90deg;
}
.hamburger.opened > * {
  background: #F1CDB3;
}
.hamburger.opened:before, .hamburger.opened:after {
  background: #F1CDB3;
}

header {
  position: relative;
  width: 1200px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
@media (max-width: 1279px) {
  header {
    width: auto;
    margin: 0px 30px 0px;
  }
}
@media (max-width: 767px) {
  header {
    margin-left: 3.125%;
  }
}
header h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 0;
  margin-bottom: 10px;
}
header p {
  display: flex;
  justify-content: center;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  margin: 0 auto;
  width: auto;
  color: #292929;
}
header .header__list {
  display: flex;
}
@media (max-width: 767px) {
  header .header__list {
    display: none;
  }
}
header .header__list li {
  display: flex;
  margin-top: 16px;
  margin-left: 36px;
  color: #545454;
  font-size: 15px;
  line-height: 160%;
}
header .header__list li a.active, header .header__list li a:active {
  border-bottom: 3px solid #F1CDB3;
}
header .header__list li a:hover, header .header__list li a:focus {
  color: #292929;
}
@media (max-width: 767px) {
  header .header__navigation {
    display: flex;
    align-items: center;
  }
}

#our-friends {
  background: #F6F6F6;
  padding: 200px 0 100px;
}
@media (max-width: 1279px) {
  #our-friends {
    padding: 200px 0 76px;
  }
}
@media (max-width: 767px) {
  #our-friends {
    padding: 162px 0 42px;
  }
}

.our-friends {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 60px;
}
@media (max-width: 1279px) {
  .our-friends {
    gap: 30px;
    width: auto;
    margin: 0;
  }
}
@media (max-width: 767px) {
  .our-friends {
    gap: 42px;
  }
}
.our-friends h3 {
  width: 400px;
}
@media (max-width: 767px) {
  .our-friends h3 {
    max-width: 300px;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.06em;
    align-items: center;
    text-align: center;
  }
}
.our-friends .slider__wrapper {
  width: 1200px;
  overflow: hidden;
  align-items: center;
}
@media (max-width: 1279px) {
  .our-friends .slider__wrapper {
    width: 580px;
  }
}
@media (max-width: 767px) {
  .our-friends .slider__wrapper {
    width: 270px;
  }
}
.our-friends .slider {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 900px;
  width: 1200px;
  row-gap: 30px;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
@media (max-width: 1279px) {
  .our-friends .slider {
    justify-content: space-around;
    width: auto;
    height: 1365px;
    max-width: 930px;
    margin-bottom: 10px;
  }
}
@media (max-width: 767px) {
  .our-friends .slider {
    width: auto;
    margin-bottom: 0;
    padding: 0 0;
    justify-content: center;
  }
}
.our-friends .slide {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 270px;
  height: 435px;
  align-items: center;
  background: #FAFAFA;
  border-radius: 9px;
  transition: 0.3s all;
}
.our-friends .slide img {
  width: 100%;
  border-radius: 9px 9px 0px 0px;
}
.our-friends .slide:hover {
  background: #FFFFFF;
  cursor: pointer;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.our-friends .slide:hover > .learn-more {
  background: #FDDCC4;
  border: 2px solid #FDDCC4;
}
.our-friends .card-title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}
.our-friends .learn-more {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 187px;
  height: 52px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  background: inherit;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  transition: 0.2s all;
}
.our-friends .learn-more:hover, .our-friends .learn-more:active, .our-friends .learn-more:focus {
  background: #FDDCC4;
  border: 2px solid #FDDCC4;
  cursor: pointer;
}

.nav-container {
  display: flex;
  gap: 20px;
  align-items: center;
}
@media (max-width: 767px) {
  .nav-container {
    gap: 10px;
  }
}
.nav-container .button-text {
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  background-color: inherit;
  box-sizing: border-box;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s all;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #292929;
}
.nav-container .button-text:disabled {
  border: 2px solid #CDCDCD;
  color: #CDCDCD;
}
.nav-container .button-text.active {
  background: #F1CDB3;
  border: 2px solid #F1CDB3;
  color: #292929;
}
.nav-container .button-text:hover:not([disabled]) {
  background: #FDDCC4;
  border: 2px solid #FDDCC4;
  cursor: pointer;
}
.nav-container .right {
  transform: rotate(-180deg);
}

footer {
  background: center/cover no-repeat url("../../assets/images/footer-gradient-background.jpg");
  color: #F1CDB3;
  padding-top: 40px;
}
@media (max-width: 1279px) {
  footer {
    padding-top: 30px;
  }
}
footer .contacts {
  position: relative;
  width: 1200px;
  height: 310px;
  display: grid;
  grid-template-columns: 280px 302px 300px;
  justify-content: space-between;
  margin: 0 auto;
}
@media (max-width: 1279px) {
  footer .contacts {
    width: auto;
    height: auto;
    grid-template-columns: 280px 302px;
    row-gap: 65px;
    justify-content: space-evenly;
  }
}
@media (max-width: 767px) {
  footer .contacts {
    grid-template-columns: 1fr;
    row-gap: 40px;
    justify-items: center;
  }
}
footer .contacts h3 {
  color: #FFFFFF;
}
@media (max-width: 767px) {
  footer .contacts h3 {
    max-width: 270px;
    margin: 0 auto;
    font-size: 25px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
  }
}
footer .contacts .email {
  margin-top: 16px;
  max-width: 280px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
footer .contacts .email img {
  margin-right: 20px;
}
@media (max-width: 1279px) {
  footer .contacts .email {
    margin: 0;
  }
}
@media (max-width: 767px) {
  footer .contacts .email h4.footer {
    justify-content: center;
  }
}
footer .contacts .place {
  margin-top: 16px;
  max-width: 302px;
  display: flex;
  flex-direction: column;
  gap: 33px;
}
footer .contacts .place img {
  margin-right: 20px;
}
@media (max-width: 1279px) {
  footer .contacts .place {
    margin: 0;
  }
}
@media (max-width: 767px) {
  footer .contacts .place {
    gap: 40px;
    margin: 0;
  }
}
footer h4.footer {
  color: #F1CDB3;
  display: flex;
  align-items: center;
}
footer .footer-puppy {
  height: auto;
}
@media (max-width: 1279px) {
  footer .footer-puppy {
    grid-column: 1/span 2;
    justify-self: center;
    margin: 0;
  }
}
@media (max-width: 767px) {
  footer .footer-puppy {
    grid-column: 1/span 1;
    max-width: 300px;
    width: 81.25vw;
  }
}/*# sourceMappingURL=styles.css.map */