.news__container {
  display: flex;
  flex-direction: column;
  max-width: 1180px;
  width: 95vw;
  margin: 40px auto;
}

.news__grid {
  margin: 0 auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "first first second second"
    "first first third fourth";
}

@media (max-width: 864px) {
  .news__grid {
    grid-template-areas:
      "first first first first"
      "second second second second"
      "third third fourth fourth";
  }
}

.news__flex {
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.news__item-grid {
  display: flex;
  border-radius: 5px;
  background: linear-gradient(358.86deg, #000000 0.9%, rgba(0, 0, 0, 0) 31.55%);
  flex-direction: column;
  justify-content: flex-end;
  color: #fff;
  text-decoration: none;
  transition: 0.25s;
}

.news__item-grid:hover,
.news__item-grid:focus {
  transform: scale(1.008);
  box-shadow: 0 0.4em 0.4em -0.2em rgba(0, 0, 157, 0.3);
}

.news__container-grid {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.news__item-grid:first-child {
  grid-area: first;
  min-height: 350px;
}

.news__item-grid:nth-child(2) {
  grid-area: second;
  min-height: 350px;
}

.news__item-grid:nth-child(3) {
  grid-area: third;
  min-height: 300px;
}

.news__item-grid:nth-child(4) {
  grid-area: fourth;
  min-height: 300px;
}

.news__meta-date-grid {
  background-color: rgba(0, 0, 0, 0.5);
  font-weight: 700;
  font-size: 0.9rem;
  line-height: 1.1rem;
  align-self: start;
  padding: 0 5px;
}

.news__description-title-grid {
  font-weight: 700;
  font-size: 1.7rem;
}

.news__item-grid:nth-child(2) .news__description-title-grid {
  font-size: 1.4rem;
}

.news__item-grid:nth-child(3) .news__description-title-grid,
.news__item-grid:nth-child(4) .news__description-title-grid {
  font-size: 1.2rem;
}

.news__description-content-grid {
  font-weight: 400;
  line-height: 1.2;
}

.news__item-grid:nth-child(3) .news__description-content-grid,
.news__item-grid:nth-child(4) .news__description-content-grid {
  display: none;
}

.news__item-flex {
  display: flex;
  flex: 1 0 400px;
  background: #fafafa;
  color: #333;
  border-radius: 4px;
  line-height: 1.4;
  overflow: hidden;
}

.news__item-flex:hover .news__meta-photo-flex {
  transform: scale(1.3) rotate(3deg);
}

.news__item-flex .news__meta-flex {
  position: relative;
  height: 200px;
}

.news__item-flex .news__meta-photo-flex {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: transform 0.2s;
}

.news__item-flex .news__meta-details-flex,
.news__item-flex .news__meta-details-flex ul {
  margin: auto;
  padding: 0;
  list-style: none;
}

.news__item-flex .news__meta-details-flex {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -120%;
  margin: auto;
  transition: left 0.2s;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
  width: 100%;
  font-size: 0.9rem;
}

.news__item-flex .news__description-flex {
  padding: 1rem;
  background: #fafafa;
  position: relative;
  z-index: 1;
}

.news__item-flex .news__description-flex h2 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
}

.news__item-flex .news__description-flex h3 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #a2a2a2;
  margin-top: 5px;
}

.news__item-flex .news__description-flex .news__read-more-flex {
  text-align: right;
}

.news__item-flex .news__description-flex .news__read-more-flex a {
  color: #00009D;
  display: inline-block;
  position: relative;
  text-decoration: none;
  font-weight: 800;
}

.news__item-flex .news__description-flex .news__read-more-flex a:after {
  content: '→';
  margin-left: -10px;
  opacity: 0;
  vertical-align: middle;
  transition: margin 0.3s, opacity 0.3s;
}

.news__item-flex .news__description-flex .news__read-more-flex a:hover:after {
  margin-left: 5px;
  opacity: 1;
}

.news__item-flex p {
  margin: 1rem 0 0;
}

.news__item-flex p:first-of-type {
  margin-top: 1.25rem;
  position: relative;
}

.news__item-flex p:first-of-type:before {
  content: '';
  position: absolute;
  height: 5px;
  background: #00009D;
  width: 35px;
  top: -0.75rem;
  border-radius: 3px;
}

.news__item-flex:hover .news__meta-details-flex {
  left: 0%;
}

@media (min-width: 640px) {
  .news__item-flex .news__meta-flex {
    flex-basis: 40%;
    height: auto;
  }

  .news__item-flex .news__description-flex {
    flex-basis: 60%;
  }

  .news__item-flex .news__description-flex:before {
    -webkit-transform: skewX(-3deg);
    transform: skewX(-3deg);
    content: '';
    background: #fafafa;
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

  .news__item-flex.alt {
    flex-direction: row-reverse;
  }

  .news__item-flex.alt .news__description-flex:before {
    left: inherit;
    right: -10px;
    -webkit-transform: skew(3deg);
    transform: skew(3deg);
  }

  .news__item-flex.alt .news__meta-details-flex {
    padding-left: 25px;
  }
}

@media (max-width: 640px) {
  .news__container {
    margin: 10px auto;
  }

  .news__item-flex {
    flex-direction: column;
    flex: 0 1 auto;
  }

  .news__description-source-flex {
    display: none;
  }

  .news__item-flex p:first-of-type::before {
    display: none;
  }

  .news__item-grid:first-child,
  .news__item-grid:nth-child(2) {
    min-height: 250px;
  }

  .news__item-grid:nth-child(3),
  .news__item-grid:nth-child(4) {
    min-height: 200px;
  }

  .news__description-title-grid {
    font-weight: 700;
    font-size: 1.4rem;
  }

  .news__item-grid:nth-child(2) .news__description-title-grid {
    font-size: 1.2rem;
  }

  .news__item-grid:nth-child(3) .news__description-title-grid,
  .news__item-grid:nth-child(4) .news__description-title-grid {
    font-size: 1rem;
  }

  .news__description-content-grid {
    font-weight: 400;
    line-height: 1.2;
  }

  .news__item-grid:nth-child(3) .news__description-content-grid,
  .news__item-grid:nth-child(4) .news__description-content-grid {
    display: none;
  }

  .news__item-flex .news__description-flex h2 {
    font-size: 1.4rem;
  }
}