.garage {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dashboard {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 600px;
}

.generate-container {
  background: $secondary-bg;
  padding: 5px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.txt {
  font-size: 18px;
}

.btn-generate {
  background: $accent-bg;
  padding: 4px 51.76px 5px 26px;
    clip-path: polygon(0% 0%, 100% 0, calc(100% - 30px) 100%, 0% 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.create-container {
  background: $secondary-bg;
  padding: 5px 8px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.choose-name,
.choose-color {
  display: flex;
  align-items: center;
  gap: 8px;
}

.choose-name__input {
  width: 200px;
  background-color: $text-secondary-color;
  padding: 4px;
  border: 1px solid rgba(0, 0, 0, 1);
  font-family: $font-main;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  color: rgba(0, 0, 0, 1);
}

.color-picker {
  width: 70px;
  height: 30px;
  border: none;
  cursor: pointer;
}

.btn-create {
  clip-path: polygon(0% 0%, calc(100% - 30px) 0, 100% 100%, 0% 100%);
  padding: 4px 32.76px 5px 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.btn-reset {
  padding: 17px 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn-race {
  padding: 9px 21px;
  height: 88px;
  position: relative;
  cursor: pointer;
}

.btn-text-big {
  font-family: $font-header;
  font-size: 60px;
  font-weight: 400;
  line-height: 44px;
  color: $accent-color;
  position: relative;
  letter-spacing: -9px;
}