@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@500;700&display=swap");
@import 'nouislider/dist/nouislider.css';
* {
  box-sizing: border-box;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

body {
  font-family: "Alegreya Sans", sans-serif;
  font-feature-settings: "pnum" on, "lnum" on;
  font-weight: 500;
  margin: 0;
  padding: 0;
  color: #191919;
  background: fixed no-repeat center/cover url("./assets/bg-1.jpg");
}

textarea:focus, input:focus {
  outline: none;
}

h1,
h2,
h3,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.hide {
  display: none;
}

.header {
  font-family: "Alegreya Sans", sans-serif;
  position: relative;
  z-index: 10;
  padding: 15px 0;
}

.header__container {
  display: flex;
  max-width: 1720px;
  width: 95%;
  height: 60px;
  align-items: center;
  margin: auto;
  gap: 60px;
}
@media screen and (max-width: 1279px) {
  .header__container {
    width: 96%;
    gap: 25px;
  }
}
@media screen and (max-width: 767px) {
  .header__container {
    justify-content: space-between;
    flex-wrap: wrap;
    height: auto;
    row-gap: 10px;
  }
}
@media screen and (max-width: 539px) {
  .header__container {
    justify-content: space-around;
  }
}

.navigation {
  display: flex;
  align-items: center;
  width: 320px;
  gap: 30px;
  font-size: 36px;
  line-height: 42px;
}
@media screen and (max-width: 1279px) {
  .navigation {
    width: auto;
  }
}

.header__link {
  display: flex;
  align-items: center;
  transition: 0.3s;
  gap: 10px;
}

.header__link_span:hover {
  filter: invert(10%) sepia(93%) saturate(5894%) hue-rotate(2deg) brightness(91%) contrast(113%);
}

.header__icon_main {
  height: 50px;
  width: auto;
}
@media screen and (max-width: 899px) {
  .header__icon_main {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .header__icon_main {
    display: block;
  }
}
@media screen and (max-width: 630px) {
  .header__icon_main {
    display: none;
  }
}

.header__icon {
  height: 30px;
  width: auto;
}

.search-container {
  display: flex;
  gap: 40px;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .search-container {
    order: 4;
    justify-content: center;
  }
}

.shop-options__sort {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1279px) {
  .shop-options__sort {
    align-items: flex-start;
    flex-direction: column;
  }
}
@media screen and (max-width: 539px) {
  .shop-options__sort {
    order: 3;
    align-items: center;
    flex-direction: row;
  }
}
@media screen and (max-width: 389px) {
  .shop-options__sort {
    align-items: flex-start;
    flex-direction: column;
  }
}

.shop-options__text {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 22px;
  color: #191919;
}

.shop-sort__select {
  background: none;
  font-family: "Alegreya Sans", sans-serif;
  padding: 0 5px;
  font-size: 22px;
  color: #7f7f7f;
  border: none;
  transition-duration: 0.4s;
}
@media screen and (max-width: 1279px) {
  .shop-sort__select {
    padding: 0;
    font-size: 18px;
    margin-left: -3px;
  }
}
@media screen and (max-width: 539px) {
  .shop-sort__select {
    margin-left: 0;
  }
}
@media screen and (max-width: 389px) {
  .shop-sort__select {
    margin-left: -3px;
  }
}

.shop-sort__option {
  background-color: #F2F4F5;
}

.search-field {
  display: flex;
  flex-grow: 1;
  max-width: 600px;
  height: 50px;
  position: relative;
}

.search-box {
  width: 100%;
  min-width: 200px;
  background: rgba(255, 255, 255, 0.8);
  font-family: "Alegreya Sans", sans-serif;
  padding: 0 45px 0 20px;
  font-size: 24px;
  line-height: 30px;
  color: #191919;
  border-radius: 30px;
  border: none;
  background-image: url("./assets/svg/search.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: right 20px center;
  transition: all 0.5s;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 4px, rgba(0, 0, 0, 0.09) 0px 2px 5px, rgba(0, 0, 0, 0.07) 0px 0px 2px 0.00144px;
}

.with-clear {
  background-image: url("./assets/svg/search-clear.svg");
}

.search-clear {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 50px;
  cursor: pointer;
}

.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 60px;
  background-image: url("./assets/icons/cart-dslr.png");
  background-size: 48px 60px;
  flex-shrink: 0;
  margin-left: 20px;
}

.cart__text {
  font-size: 24px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.8);
  background-color: #7f7f7f;
  padding: 5px;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  text-align: center;
  position: relative;
  top: 0px;
  left: -26px;
}

.has-items {
  color: #F2F4F5;
  background-color: #c00;
}

.footer {
  position: relative;
  z-index: 10;
  font-family: "Alegreya Sans", sans-serif;
  margin-top: 5px;
  margin-bottom: 15px;
}

.footer__container {
  width: 100%;
  padding: 15px;
  gap: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 4px, rgba(0, 0, 0, 0.09) 0px 2px 5px, rgba(0, 0, 0, 0.07) 0px 0px 2px 0.00144px;
}
@media screen and (max-width: 939px) {
  .footer__container {
    flex-direction: column;
    gap: 10px;
    justify-content: center;
  }
}
@media screen and (max-width: 767px) {
  .footer__container {
    flex-direction: row;
    gap: 5px;
    justify-content: space-around;
  }
}
@media screen and (max-width: 359px) {
  .footer__container {
    flex-direction: column;
    gap: 10px;
    justify-content: center;
  }
}

.footer__text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media screen and (max-width: 939px) {
  .footer__text {
    align-items: center;
    gap: 10px;
  }
}

.footer__link {
  display: flex;
  gap: 10px;
  align-items: center;
  transition: 0.3s;
}
@media screen and (max-width: 939px) {
  .footer__link {
    text-align: center;
  }
}

.footer__link:hover {
  filter: invert(10%) sepia(93%) saturate(5894%) hue-rotate(2deg) brightness(91%) contrast(113%);
}

.footer__image-RS {
  height: 40px;
}

.footer__image-GH {
  height: 30px;
}

.shop-page {
  width: 100%;
}

.shop-container {
  max-width: 1720px;
  width: 95%;
  display: grid;
  grid-template-columns: 350px 1fr;
  grid-template-rows: -webkit-min-content 1fr;
  grid-template-rows: min-content 1fr;
  margin: auto;
  gap: 15px;
}
@media screen and (max-width: 1279px) {
  .shop-container {
    width: 98%;
  }
}
@media screen and (max-width: 939px) {
  .shop-container {
    grid-template-columns: 210px 1fr;
    gap: 10px;
  }
}
@media screen and (max-width: 767px) {
  .shop-container {
    width: 95%;
    grid-template-columns: 1fr;
    gap: 10px;
  }
}

.shop-left-side {
  display: flex;
  flex-direction: column;
  width: 350px;
  gap: 15px;
}
@media screen and (max-width: 939px) {
  .shop-left-side {
    width: auto;
    gap: 5px;
  }
}
@media screen and (max-width: 767px) {
  .shop-left-side {
    margin-left: -3px;
  }
}

.dropdown-filters {
  display: none;
}
@media screen and (max-width: 767px) {
  .dropdown-filters {
    display: flex;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    width: 100%;
    justify-content: space-between;
    padding: 5px 15px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 4px, rgba(0, 0, 0, 0.09) 0px 2px 5px, rgba(0, 0, 0, 0.07) 0px 0px 2px 0.00144px;
  }
}

.dropdown-filters__img {
  height: 30px;
}

.shop-options {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px;
  gap: 10px;
  justify-content: space-around;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 4px, rgba(0, 0, 0, 0.09) 0px 2px 5px, rgba(0, 0, 0, 0.07) 0px 0px 2px 0.00144px;
  height: calc(100vh - 210px);
  min-height: 630px;
  max-height: 770px;
  transition: all 0.4s ease;
}
@media screen and (max-width: 939px) {
  .shop-options {
    width: 210px;
    padding: 10px;
    height: auto;
    min-height: auto;
    max-height: none;
  }
}
@media screen and (max-width: 767px) {
  .shop-options {
    width: auto;
  }
}

.shop-maker {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.shop-maker__list,
.shop-type__list {
  display: grid;
  row-gap: 10px;
  -moz-column-gap: 20px;
       column-gap: 20px;
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 939px) {
  .shop-maker__list,
.shop-type__list {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 767px) {
  .shop-maker__list,
.shop-type__list {
    grid-template-columns: 1fr 1fr;
  }
}

.shop-maker__select {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.shop-maker__option {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-size: 18px;
  transition: 0.3s;
  cursor: pointer;
}
.shop-maker__option:hover {
  filter: invert(10%) sepia(93%) saturate(5894%) hue-rotate(2deg) brightness(91%) contrast(113%);
}
@media screen and (max-width: 359px) {
  .shop-maker__option {
    font-size: 16px;
    gap: 10px;
  }
}

.checkbox_shop:checked + .shop-maker__option,
.checkbox_shop:checked + .shop-options__text {
  filter: invert(10%) sepia(93%) saturate(5894%) hue-rotate(2deg) brightness(91%) contrast(113%);
}

.checkbox-none:checked + .shop-maker__img {
  filter: invert(10%) sepia(93%) saturate(5894%) hue-rotate(2deg) brightness(91%) contrast(113%);
}

.checkbox-none {
  display: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.shop-maker__img {
  height: 17px;
}
@media screen and (max-width: 359px) {
  .shop-maker__img {
    height: 14px;
  }
}

.checkbox_shop {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 22px;
  height: 22px;
  margin: 0;
  transition: all 0.3s ease;
  cursor: pointer;
  background: no-repeat center/contain url(./assets/svg/checkbox-unchecked.svg);
}
.checkbox_shop:hover {
  filter: invert(10%) sepia(93%) saturate(5894%) hue-rotate(2deg) brightness(91%) contrast(113%);
}
.checkbox_shop:checked {
  background: no-repeat center/contain url(./assets/svg/checkbox-checked.svg);
}

.shop-price,
.shop-mpix {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.slider {
  height: 4px;
  margin: 0 8px;
  border: none;
  background: #7f7f7f;
}
.slider .noUi-handle::before, .slider .noUi-handle::after {
  display: none;
}
.slider .noUi-connect {
  background: #c00;
}
.slider .noUi-handle {
  height: 16px;
  width: 16px;
  top: -6px;
  right: -8px;
  /* half the width */
  border-radius: 8px;
  background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(255, 255, 255, 0.2) 0%, rgba(157, 243, 255, 0.2) 100%);
}
.slider .noUi-handle .noUi-touch-area {
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  width: auto;
  height: auto;
  cursor: pointer;
}

.slider__labels {
  display: flex;
  justify-content: space-between;
}

.shop-price__labels-low,
.shop-price__labels-high,
.shop-mpix__labels-low,
.shop-mpix__labels-high {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
  text-align: center;
  width: 60px;
  height: 30px;
  border: 1px solid #999;
  color: #303030;
  font-size: 13px;
  line-height: 30px;
  outline: none;
  padding: 0 5px;
  border-radius: 10px;
}

.shop-type,
.shop-stab {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.shop-stab__list {
  display: flex;
  align-items: center;
  gap: 15px;
}
@media screen and (max-width: 939px) {
  .shop-stab__list {
    align-items: flex-start;
    gap: 10px;
    flex-direction: column;
  }
}
@media screen and (max-width: 767px) {
  .shop-stab__list {
    align-items: center;
    flex-direction: row;
    gap: 5%;
  }
}

.shop-stab__option {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 18px;
  transition: 0.3s;
  cursor: pointer;
}
.shop-stab__option:hover {
  filter: invert(10%) sepia(93%) saturate(5894%) hue-rotate(2deg) brightness(91%) contrast(113%);
}
@media screen and (max-width: 359px) {
  .shop-stab__option {
    font-size: 16px;
  }
}

.shop-stock {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.btn_stock {
  order: 1;
}

.shop-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.shop-reset-filters,
.shop-reset-storage {
  width: 240px;
  height: 30px;
  align-self: center;
  background: #F2F4F5;
  border-radius: 30px;
  font-family: "Alegreya Sans", sans-serif;
  padding: 0 5px;
  font-size: 16px;
  color: #191919;
  border: 2px solid #7f7f7f;
  transition-duration: 0.4s;
  cursor: pointer;
}
@media screen and (max-width: 939px) {
  .shop-reset-filters,
.shop-reset-storage {
    width: 95%;
  }
}

.shop-reset-filters:hover,
.shop-reset-storage:hover {
  border: 2px solid #c00;
}

.shop-reset-filters:active,
.shop-reset-storage:active {
  background: #c00;
}

.shop-goods {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  gap: 12px;
  justify-content: flex-start;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 4px, rgba(0, 0, 0, 0.09) 0px 2px 5px, rgba(0, 0, 0, 0.07) 0px 0px 2px 0.00144px;
  margin-bottom: 15px;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
}
@media screen and (max-width: 939px) {
  .shop-goods {
    padding: 10px;
    gap: 10px;
  }
}
@media screen and (max-width: 767px) {
  .shop-goods {
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 530px) {
  .shop-goods {
    justify-content: space-around;
  }
}

.modal-overlay {
  display: none;
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.shop-popup {
  background-color: #fefefe;
  margin: 40vh auto;
  padding: 15px;
  border: 1px solid #c00;
  border-radius: 20px;
  width: 400px;
  box-shadow: rgba(0, 0, 0, 0.3) 5px 10px 10px;
  -webkit-animation-name: appear;
          animation-name: appear;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}

@-webkit-keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.shop-popup__button {
  float: right;
  width: 25px;
  height: 25px;
}
.shop-popup__button:hover, .shop-popup__button:focus {
  filter: invert(10%) sepia(93%) saturate(5894%) hue-rotate(2deg) brightness(91%) contrast(113%);
  cursor: pointer;
}

.shop-popup__text {
  text-align: center;
  font-size: 24px;
  margin: 40px 20px 25px;
}

@media screen and (max-width: 767px) {
  .shop-options {
    opacity: 0;
    overflow: hidden;
    height: 0px;
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  #dropdown-filters:checked + .shop-options {
    opacity: 1;
    height: 620px;
    padding: 10px;
  }
}

@-webkit-keyframes slide-down {
  from {
    height: 0px;
  }
  to {
    height: 620px;
  }
}

@keyframes slide-down {
  from {
    height: 0px;
  }
  to {
    height: 620px;
  }
}
.shop-card {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 10px;
  width: 250px;
  height: 450px;
  justify-content: flex-start;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  transition: all 0.2s;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 4px, rgba(0, 0, 0, 0.09) 0px 2px 5px, rgba(0, 0, 0, 0.07) 0px 0px 2px 0.00144px;
  cursor: pointer;
}
.shop-card:hover {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3), 0px 2px 5px rgba(0, 0, 0, 0.15), 0px 0px 2px 0.00144px rgba(0, 0, 0, 0.12);
}
@media screen and (max-width: 630px) {
  .shop-card {
    width: 48%;
    height: auto;
    justify-content: space-between;
  }
}
@media screen and (max-width: 430px) {
  .shop-card {
    font-size: 16px;
    line-height: 18px;
  }
}

.shop-card__name {
  font-weight: 700;
  line-height: 26px;
  height: 52px;
  font-size: 21px;
}
@media screen and (max-width: 630px) {
  .shop-card__name {
    height: auto;
  }
}
@media screen and (max-width: 430px) {
  .shop-card__name {
    font-size: 18px;
    line-height: 20px;
  }
}

.shop-card__price-mp {
  display: flex;
}

.shop-card__block {
  display: flex;
  align-items: flex-end;
  gap: 5px;
}
@media screen and (max-width: 630px) {
  .shop-card__block {
    -moz-column-gap: 5px;
         column-gap: 5px;
    row-gap: 0;
    flex-wrap: wrap;
  }
}

.text-big {
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}
@media screen and (max-width: 430px) {
  .text-big {
    font-size: 22px;
    line-height: 26px;
  }
}

.text-aux {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #7f7f7f;
}
@media screen and (max-width: 430px) {
  .text-aux {
    font-size: 16px;
    line-height: 18px;
  }
}

.shop-card__price-mpix,
.shop-card__stock-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
@media screen and (max-width: 630px) {
  .shop-card__price-mpix,
.shop-card__stock-cart {
    align-items: flex-start;
    flex-direction: column;
    gap: 0;
  }
}

@media screen and (max-width: 630px) {
  .shop-card__type-stab {
    gap: 5px;
    display: flex;
    flex-direction: column;
  }
}

.text-in-stock {
  color: #c00;
}
@media screen and (max-width: 630px) {
  .text-in-stock {
    align-self: center;
  }
}

.text-out-of-stock {
  color: #7f7f7f;
}
@media screen and (max-width: 630px) {
  .text-out-of-stock {
    align-self: center;
  }
}

.text-no-cards {
  align-self: center;
  flex-grow: 1;
  text-align: center;
  font-size: 24px;
}

.shop-card__cart {
  width: 119px;
  height: 32px;
  background: #191919;
  color: rgba(255, 255, 255, 0.8);
  border: #191919 2px solid;
  border-radius: 8px;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
}
@media screen and (max-width: 630px) {
  .shop-card__cart {
    width: 100%;
    margin-top: 5px;
  }
}

.added {
  background: #c00;
  border: #c00 2px solid;
  color: #F2F4F5;
  font-weight: 700;
}/*# sourceMappingURL=global.css.map */