$font-serif: Georgia, 'Times New Roman', Times, serif;

@font-face {
    font-family: 'Arial';
    src: url('../../assets/fonts/arial.ttf');
    src: local('Arial'), local('Arial Regular'),
           url('../../assets/fonts/arial.woff') format('woff');
  }

@font-face {
    font-family: 'Georgia';
    src: url('../../assets/fonts/georgia.ttf');
    src: local('Georgia'), local('Georgia Regular'),
           url('../../assets/fonts/georgia.woff') format('woff');
  }
$color-hamburger: #F1CDB3;

@import "../../sass/mixins";
@import "../../sass/hamburger";

html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

a {
        text-decoration: none;
        color: inherit;
      }
    
p {
        font-size: 15px;
        line-height: 160%;
    }

h3 {
        font-family: $font-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 45px;
        letter-spacing: 0.06em;
        color: #545454;
    }

h4 {
    font-family: $font-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
}
h5 {
    font-family: $font-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
}

.hero-page {
    background: center/cover no-repeat url('../../assets/images/start-screen-gradient-background.jpg');
    height: 908px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    @include media-tablet {
        height: auto;
    }
}

header {
    position: relative;
    width: 1200px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    margin: 60px auto;
    @include media-tablet {
        width: auto;
        margin: 30px 30px 60px;
    }

    h1 {
        font-family: $font-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 110%;
        letter-spacing: 0.06em;
        color: #F1CDB3;
        margin: 0;
        margin-bottom: 10px;
    }

    p {
        display: flex;
        justify-content: center;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.1em;
        margin: 0 auto;
        width: auto;
    }
    
    .header__list {
        display: flex;
        @include media-mobile {
            display: none;
        }
        
        li {
            display: flex;
            margin-top: 16px;
            margin-left: 36px;
            color: #CDCDCD;
            font-size: 15px;
            line-height: 160%;
       
        a.active, a:active {
            color:#FFFFFF;
            border-bottom: 3px solid #F1CDB3;
        }
        a:hover, a:focus {
            color:#FFFFFF;
        }
        }
    }

    .header__navigation {
        @include media-mobile {
            display: flex;
            align-items: center;
        }
    }
}

.puppy {

    display: flex;
    position: relative;
    justify-content: space-between;
    width: 1200px;
    margin: 0px auto;
    @include media-tablet {
        width: auto;
        margin: 0;
        flex-direction: column;
        align-items: center;
    }
    
    .text-block {
        flex-direction: column;

    h2 {
        font-family: $font-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 44px;
        line-height: 130%;
        margin-top: 163px;
        width: 310px;
        @include media-tablet {
            margin-top: 0;
        }
        @include media-mobile {
            width: auto;
            margin: 0 auto;
            max-width: 250px;
            font-size: 25px;
            line-height: 32px;
            letter-spacing: 0.06em;
            align-items: center;
            text-align: center;
        }
    }

    p {
        margin-top: 42px;
        max-width: 460px;
        @include media-mobile {
            margin: 42px 3.125%;
            align-items: center;
            text-align: center;
        }
    }

    .button {
        margin-top: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 207px;
        height: 52px;
        font-family: $font-serif;
        font-size: 17px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #292929;
        background: #F1CDB3;
        border-radius: 100px;
        border: 0;
        transition: .2s all;
        @include media-tablet {
            margin: 42px auto;
        }

        &:hover, &:active, &:focus {
            background: #FDDCC4;            
        }
    }
    }

    img {
        height: auto;
        @include media-tablet {
            max-width: 798px;
            width: 74%;
            margin: 50px 4% 0 22%;
        }
    }
}

.about {
    margin: 80px auto 100px;
    width: 1200px;
    height: 408px;
    display: flex;
    justify-content: center;
    @include media-tablet {
        margin: 80px 3.125% 100px;
        height: auto;
        width: auto;
        flex-direction: column-reverse;
        align-items: center;
    }

    img {
        height: auto;
        margin-right: 120px;
        @include media-tablet {
            margin: 80px auto 0;
            max-width: 430px;
            width: 100%;
        }
    }

    .text-block {
        max-width: 430px;
    }

    h3 {
        max-width: 370px;
        margin-top: 14px;
        @include media-mobile {
            max-width: 280px;
            margin: 14px auto 0;
            font-size: 25px;
            line-height: 32px;
            letter-spacing: 0.06em;
            align-items: center;
            text-align: center;
        }
    }

    p {
        margin-top: 25px;
        color: #4C4C4C;
        @include media-mobile {
            text-align: justify;
        }
    }
}

#our-friends {
    background: #F6F6F6;
    padding: 80px 0 100px;
    @include media-mobile {
        padding: 42px 10px;
    }
}

.our-friends {

    margin: 0 auto;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 60px;
    @include media-tablet {
        width: auto;
        margin: 0;
    }
    @include media-mobile {
        gap: 42px;
    }

    h3 {
        width: 400px;
        @include media-mobile {
            max-width: 300px;            
            font-size: 25px;
            line-height: 32px;
            letter-spacing: 0.06em;
            align-items: center;
            text-align: center;
        }
    }
    .slider-container {
        display: flex;
        justify-content: space-between;
        width: 1200px;
        align-items: center;
        @include media-tablet {
            width: auto;
            min-width: 80%;
            gap: 1.6vw;
        }
        @include media-mobile {
            flex-wrap: wrap;
            row-gap: 20px;
            column-gap: 80px;
            justify-content: center;
        }
        

    .button-arrow {
        width: 52px;
        height: 52px;
        border: 2px solid #F1CDB3;
        background-color: inherit;
        box-sizing: border-box;
        border-radius: 100px;
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        transition: .2s all;

        &:hover, &:active, &:focus {
            background: #FDDCC4;
            border: 2px solid #FDDCC4;  
            cursor: pointer;
        }
    }

    .right {
        transform: rotate(-180deg);
    }

    .slider {
        display: flex;
        justify-content: space-between;
        width: 990px;
        @include media-tablet {
            width: auto;
            min-width: 70%;
            gap: 5.2vw;
        }
        @include media-mobile {
            width: 100%;
            justify-content: center;
            order: -1;
        }
    }

    .slide {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 270px;
        height: 435px;
        align-items: center;
        background: #FAFAFA;
        border-radius: 9px;
        transition: .3s all;
        @include media-tablet {
            &:last-child {
                display:none;
            }
        }
        @include media-mobile {
            &:nth-child(n+2) {
                display:none;
            }
        }
        img {
            width: auto;
            border-radius: 9px 9px 0px 0px;
        }
        &:hover {
            background: #FFFFFF;
            cursor: pointer;
            box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
        }
        &:hover > .learn-more {
            background: #FDDCC4;
            border: 2px solid #FDDCC4; 
        }
    }

    .card-title {
        font-family: $font-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.06em;
        color: #545454;
    }

    .learn-more {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 187px;
        height: 52px;
        font-family: $font-serif;
        font-size: 17px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #292929;
        background: inherit;
        border-radius: 100px;
        border: 2px solid #F1CDB3;
        transition: .2s all;

        &:hover, &:active, &:focus {
            background: #FDDCC4;
            border: 2px solid #FDDCC4;  
            cursor: pointer;         
        }
       }
    }
 .pets-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 261px;
        height: 52px;
        font-family: $font-serif;
        font-size: 17px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #292929;
        background: #F1CDB3;
        border-radius: 100px;
        border: 0;
        transition: .2s all;

        &:hover, &:active, &:focus {
            background: #FDDCC4;      
        }
    }
}   

#help {
        padding: 80px 0 98px;
        @include media-mobile {
            padding: 42px 0;
        }
        
    .help {
        margin: 0 auto;
        max-width: 1200px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        @include media-tablet {
            margin: 0 66px;
        }
        @include media-mobile {
            margin: 0 15px;
        }

        h3 {
            width: 320px;
            margin-bottom: 60px;
            @include media-mobile {
                font-size: 25px;
                line-height: 130%;
                text-align: center;
                letter-spacing: 0.06em;
            }
        }

        .help__container {
            display: flex;
            column-gap: 119.5px;
            row-gap: 55px;
            justify-content: center;
            flex-wrap: wrap;
            @include media-tablet {
                display: grid;
                grid-template: repeat(3, 1fr) / repeat(3, 1fr);
                column-gap: 60px;
                min-width: 70%;
            }
            @include media-mobile {
                display: grid;
                grid-template: repeat(5, 1fr) / repeat(2, 1fr);
                gap: 30px;
                min-width: 70%;
                h4 {
                    font-size: 15px;
                    line-height: 110%;
                }
            }
            
        }

        .help__item img {
            margin-bottom: 28px;
            @include media-mobile {
                margin-bottom: 20px;
                width: 50px;
                height: 50px;
            }
        }

    }
}

#donation {
    padding: 81px 0 99px;
    background: #F6F6F6;

    .donation {
        margin: 0 auto;
        width: 915px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include media-tablet {
            width: auto;
            flex-direction: column;
        }

        .donation__dog {
            width: auto;
            margin-right: 30px;
            @include media-tablet {
                margin-right: 0;
            }
            @include media-mobile {
                max-width: 505px;
                width: 81.25%;
            }
        }

        .text-block {
            max-width: 380px;
            display: flex;
            gap: 20px;
            flex-direction: column;
            @include media-tablet {
                order: -1;
                margin-bottom: 60px;
            }

            h3 {
                width: 300px;
                line-height: 45px;
                @include media-mobile {
                    width: auto;
                    margin: 0 auto;
                    font-size: 25px;
                    line-height: 130%;
                    justify-self: center;
                    text-align: center;
                    letter-spacing: 0.06em;
                }
            }
            h5 {
                @include media-mobile {
                    font-size: 15px;
                    line-height: 160%;
                    text-align: center;
                    letter-spacing: 0em;
                }
            }
            p {
                @include media-mobile {
                    padding: 0 20px;
                }
            }
        }
        
        .card {
            display: flex;
            padding: 10px 15px;
            width: 350px;
            background: #F1CDB3;
            border-radius: 9px;
            align-items: center;
            box-sizing: border-box;
            transition: all 0.2s;
            @include media-mobile {
                width: 282px;
                margin: 0 auto;
                font-size: 15px;
                line-height: 110%;
                letter-spacing: 0.06em;
            }
                     
            &:hover {
                background: #FDDCC4;
            }
            
            img {
                margin-right: 15px;
            }
        }

        .description {
            font-style: italic;
            font-size: 12px;
            line-height: 18px;
            color: #B2B2B2;
            @include media-mobile {
                text-align: justify;
            }
        }
        
    }
}

footer {
    background: center/cover no-repeat url('../../assets/images/footer-gradient-background.jpg');
    color: #F1CDB3;
    padding-top: 40px;
    @include media-tablet {
        padding-top: 30px;
    }

    .contacts {
        position: relative;
        width: 1200px;
        height: 310px;
        display: grid;
        grid-template-columns: 280px 302px 300px;
        justify-content: space-between;
        margin: 0 auto;
        @include media-tablet {
            width: auto;
            height: auto;
            grid-template-columns: 280px 302px;
            row-gap: 65px;
            justify-content: space-evenly;
        }
        @include media-mobile {
            grid-template-columns: 1fr;
            row-gap: 40px;
            justify-items: center;
        }
     

        h3 {
            color: #FFFFFF;
            @include media-mobile {
                width: 270px;
                margin: 0 auto;
                font-size: 25px;
                line-height: 130%;
                text-align: center;
                letter-spacing: 0.06em;
            }
        }

        .email {
            margin-top: 16px;
            width: 280px;
            display: flex;
            flex-direction: column;
            gap: 40px;
            img {
                margin-right: 20px;
            }
            @include media-tablet {
                margin: 0;
            }
        }

        .place {
            margin-top: 16px;
            width: 302px;
            display: flex;
            flex-direction: column;
            gap: 33px;
            img {
                margin-right: 20px;
            }
            @include media-tablet {
                margin: 0;
            }
        }

        
    }

    h4.footer {
        color: #F1CDB3;
        display: flex;
        align-items: center;
    }

    .footer-puppy {
        height: auto;
        @include media-tablet {
            grid-column: 1 / span 2;
            justify-self: center;
            margin: 0;
        }
        @include media-mobile {
            grid-column: 1 / span 1;
            max-width: 300px;
            width: 81.25%;
            padding: 0 30px;
        }
    }
}

