@import url("https://fonts.googleapis.com/css2?family=Finlandica&family=Neucha&display=swap");
body {
  font-family: "Finlandica", sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.header {
  background-color: #192F2D;
  font-family: "Neucha", cursive;
  position: relative;
  z-index: 10;
}

.header__container {
  max-width: 1200px;
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__link {
  display: flex;
  align-items: center;
  transition: 0.3s;
}

.header__link:hover {
  filter: invert(42%) sepia(94%) saturate(317%) hue-rotate(141deg) brightness(93%) contrast(97%);
}

.header__icon_main {
  height: 50px;
  width: auto;
}

.header__icon {
  height: 30px;
  width: auto;
}

.search-container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.search-box {
  background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(36, 197, 219, 0.15) 0%, rgba(36, 197, 219, 0) 100%);
  -webkit-backdrop-filter: blur(31px);
          backdrop-filter: blur(31px);
  width: 254px;
  height: 36px;
  font-family: "Neucha", cursive;
  padding: 0 45px 0 10px;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  border-radius: 30px;
  border: 1px solid #278D9F;
  background-image: url("./assets/svg/search.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 220px center;
}

.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 60px;
  background-image: url("./assets/svg/ball.svg");
  background-size: 48px 60px;
}

.cart__text {
  padding-top: 10px;
  font-size: 24px;
  line-height: 36px;
  color: #192F2D;
}

.footer {
  position: relative;
  z-index: 10;
  background-color: #192F2D;
  font-family: "Neucha", cursive;
}

.footer__container {
  max-width: 1200px;
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  font-size: 26px;
  line-height: 36px;
}

.footer__link {
  display: flex;
  gap: 10px;
  align-items: center;
  transition: 0.3s;
}

.footer__link:hover {
  filter: invert(42%) sepia(94%) saturate(317%) hue-rotate(141deg) brightness(93%) contrast(97%);
}

.footer__image-RS {
  height: 40px;
}

.footer__image-GH {
  height: 40px;
}

.main__container {
  display: flex;
  background: no-repeat center/cover url(./assets/bg.jpg), #192F2D;
  width: 100%;
  height: calc(100vh - 120px);
  min-height: 768px;
  font-family: "Neucha", cursive;
}

.main__image-left {
  position: absolute;
  top: 0;
  left: 10vw;
}

.main__image-right {
  position: absolute;
  top: 0;
  right: 10vw;
}

.main__ui {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: auto;
  gap: 40px;
}

.main__text-container {
  display: flex;
  position: relative;
  z-index: 1;
  align-items: center;
  justify-content: center;
  background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(36, 197, 219, 0.15) 0%, rgba(36, 197, 219, 0) 100%);
  -webkit-backdrop-filter: blur(31px);
          backdrop-filter: blur(31px);
  border: 2px solid #278D9F;
  border-radius: 30px;
  width: 600px;
  height: 250px;
}

.main__text {
  text-align: center;
  font-size: 53px;
  line-height: 58px;
  text-transform: uppercase;
}

.main__button {
  align-self: center;
  background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(36, 197, 219, 0.15) 0%, rgba(36, 197, 219, 0) 100%);
  -webkit-backdrop-filter: blur(31px);
          backdrop-filter: blur(31px);
  border: 2px solid #278D9F;
  border-radius: 30px;
  height: 54px;
  width: 320px;
  font-size: 24px;
  line-height: 29px;
  font-family: "Neucha", cursive;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.25s;
}

.main__button:hover {
  border: 3px solid #fff;
  box-shadow: 0 0 0.4em 0.1em rgba(255, 255, 255, 0.3);
  font-size: 28px;
}/*# sourceMappingURL=global.css.map */