@import url("https://fonts.googleapis.com/css2?family=Finlandica&family=Neucha&display=swap");
@import 'nouislider/dist/nouislider.css';
body {
  font-family: "Finlandica", sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
}

h1,
h2,
h3,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.main-page.hide {
  display: none;
}

.header {
  background-color: #192F2D;
  font-family: "Neucha", cursive;
  position: relative;
  z-index: 10;
}

.header__container {
  max-width: 1200px;
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__link {
  display: flex;
  align-items: center;
  transition: 0.3s;
}

.header__link:hover {
  filter: invert(42%) sepia(94%) saturate(317%) hue-rotate(141deg) brightness(93%) contrast(97%);
}

.header__icon_main {
  height: 50px;
  width: auto;
}

.header__icon {
  height: 30px;
  width: auto;
}

.search-container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.search-box {
  background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(36, 197, 219, 0.15) 0%, rgba(36, 197, 219, 0) 100%);
  -webkit-backdrop-filter: blur(31px);
          backdrop-filter: blur(31px);
  width: 254px;
  height: 36px;
  font-family: "Neucha", cursive;
  padding: 0 45px 0 10px;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  border-radius: 30px;
  border: 1px solid #278D9F;
  background-image: url("./assets/svg/search.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 220px center;
}

.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 60px;
  background-image: url("./assets/svg/ball.svg");
  background-size: 48px 60px;
}

.cart__text {
  padding-top: 10px;
  font-size: 24px;
  line-height: 36px;
  color: #192F2D;
}

.footer {
  position: relative;
  z-index: 10;
  background-color: #192F2D;
  font-family: "Neucha", cursive;
}

.footer__container {
  max-width: 1200px;
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  font-size: 26px;
  line-height: 36px;
}

.footer__link {
  display: flex;
  gap: 10px;
  align-items: center;
  transition: 0.3s;
}

.footer__link:hover {
  filter: invert(42%) sepia(94%) saturate(317%) hue-rotate(141deg) brightness(93%) contrast(97%);
}

.footer__image-RS {
  height: 40px;
}

.footer__image-GH {
  height: 40px;
}

.main-page {
  display: flex;
  background: no-repeat center/cover url(./assets/bg.jpg), #192F2D;
  width: 100%;
  height: calc(100vh - 120px);
  min-height: 768px;
  font-family: "Neucha", cursive;
}

.main__image-left {
  position: absolute;
  top: 0;
  left: 10vw;
}

.main__image-right {
  position: absolute;
  top: 0;
  right: 10vw;
}

.main__ui {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: auto;
  gap: 40px;
}

.main__text-container {
  display: flex;
  position: relative;
  z-index: 1;
  align-items: center;
  justify-content: center;
  background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(36, 197, 219, 0.15) 0%, rgba(36, 197, 219, 0) 100%);
  -webkit-backdrop-filter: blur(31px);
          backdrop-filter: blur(31px);
  border: 2px solid #278D9F;
  border-radius: 30px;
  width: 600px;
  height: 250px;
}

.main__text {
  text-align: center;
  font-size: 53px;
  line-height: 58px;
  text-transform: uppercase;
}

.main__button {
  align-self: center;
  background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(36, 197, 219, 0.15) 0%, rgba(36, 197, 219, 0) 100%);
  -webkit-backdrop-filter: blur(31px);
          backdrop-filter: blur(31px);
  border: 2px solid #278D9F;
  border-radius: 30px;
  height: 54px;
  width: 320px;
  font-size: 24px;
  line-height: 29px;
  font-family: "Neucha", cursive;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.25s;
}

.main__button:hover {
  border: 3px solid #fff;
  box-shadow: 0 0 0.4em 0.1em rgba(255, 255, 255, 0.3);
  font-size: 28px;
}

.toys-page {
  background: #192F2D;
  width: 100%;
}

.toys__container {
  max-width: 1720px;
  height: calc(100vh - 140px);
  display: flex;
  margin: auto;
  padding: 20px 0;
}

.toys__options {
  display: flex;
  flex-direction: column;
  width: 446px;
  gap: 25px;
}

.toys-sort {
  display: flex;
  align-items: center;
  gap: 10px;
}

.toys__text {
  text-transform: uppercase;
  font-family: "Neucha", cursive;
  font-size: 24px;
  color: #fff;
}

.toys-sort__select,
.toys-reset {
  width: 240px;
  height: 30px;
  background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(255, 255, 255, 0.2) 0%, rgba(157, 243, 255, 0.2) 100%);
  -webkit-backdrop-filter: blur(31px);
          backdrop-filter: blur(31px);
  border-radius: 30px;
  font-family: "Finlandica", sans-serif;
  padding: 0 5px;
  font-size: 16px;
  color: #fff;
}

.toys-sort__option {
  background-color: #278D9F;
}

.toys-shape__select {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}

.toys-shape__option {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  font-size: 18px;
  transition: 0.3s;
  cursor: pointer;
}
.toys-shape__option:hover {
  filter: invert(42%) sepia(94%) saturate(317%) hue-rotate(141deg) brightness(93%) contrast(97%);
}

.toys-shape__img {
  height: 42px;
}

.toys-number,
.toys-year {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.slider {
  height: 4px;
  border: none;
  background: #278D9F;
}
.slider .noUi-handle::before, .slider .noUi-handle::after {
  display: none;
}
.slider .noUi-connect {
  background: #fff;
}
.slider .noUi-handle {
  height: 16px;
  width: 16px;
  top: -6px;
  right: -8px;
  /* half the width */
  border-radius: 8px;
  background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(255, 255, 255, 0.2) 0%, rgba(157, 243, 255, 0.2) 100%);
}
.slider .noUi-handle .noUi-touch-area {
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  width: auto;
  height: auto;
  cursor: pointer;
}

.slider__labels {
  display: flex;
  justify-content: space-between;
}/*# sourceMappingURL=global.css.map */