.header {
  background-color: $accent-dark-color;
  font-family: $font-header;
  position: relative;
  z-index: 10;
  padding: 15px 0;
}

.header__container {
  max-width: 1720px;
  width: 90%;
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 36px;
  line-height: 42px;
}

.header__link {
  display: flex;
  align-items: center;
  transition: .3s;
  gap: 10px;
}

.header__link_span:hover {
  filter: $hover-effect;
}

.header__icon_main {
  height: 50px;
  width: auto;
}

.header__icon {
  height: 30px;
  width: auto;
}

.search-container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.shop-options__sort {
  display: flex;
  align-items: center;
  // gap: 10px;
}

.shop-options__text {
  font-family: $font-header;
  font-size: 22px;
  color: $text-color;
}

.shop-sort__select {
  background: $accent-dark-color;
  font-family: $font-main;
  padding: 0 5px;
  font-size: 22px;
  color: $text-secondary-color;
  border: 2px solid $accent-dark-color;
  transition-duration: 0.4s;
}

.shop-sort__option {
  background-color: $accent-dark-color;
}

.search-box {
  background: $primary-color;
  width: 254px;
  height: 36px;
  font-family: $font-header;
  padding: 0 45px 0 10px;
  font-size: 24px;
  line-height: 30px;
  color: $text-color;
  border-radius: 30px;
  border: 1px solid $accent-color;
  background-image: url("./assets/svg/search.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 220px center;
}

.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 60px;
  background-image: url("./assets/icons/cart-dslr.png");
  background-size: 48px 60px;
}

.cart__text {
  padding-top: 10px;
  font-size: 24px;
  line-height: 36px;
  color: $primary-color;
}