@import 'nouislider/dist/nouislider.css';

.shop-page {
  // background: $accent-dark-color;
  width: 100%;
}

.shop-container {
  max-width: 1720px;
  width: 95%;
  display: flex;
  margin: auto;
  gap: 15px;
  // padding: 20px 0;
}

.shop-left-side {
  display: flex;
  flex-direction: column;
  width: 350px;
  gap: 15px;
}

.shop-options {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px;
  gap: 10px;
  justify-content: space-around;
  background: $primary-color;
  // border: $accent-color 2px solid;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 4px, rgba(0, 0, 0, 0.09) 0px 2px 5px, rgba(0, 0, 0, 0.07) 0px 0px 2px 0.00144px;
  height: calc(100vh - 230px);
  min-height: 590px;
  max-height: 740px;
}

.shop-maker {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.shop-maker__list,
.shop-type__list {
  display: grid;
  row-gap: 10px;
  column-gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.shop-maker__select {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.shop-maker__option {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-size: 18px;
  transition: .3s;
  cursor: pointer;

  &:hover {
    filter: $hover-effect;
  }
}

.checkbox_shop:checked+.shop-maker__option,
.checkbox_shop:checked+.shop-options__text {
  filter: $hover-effect;
}

.checkbox-none:checked+.shop-maker__img {
  filter: $hover-effect;
}

.checkbox-none {
  display: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.shop-maker__img {
  height: 17px;
}

.checkbox_shop {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 22px;
  height: 22px;
  margin: 0;
  transition: all 0.3s ease;
  cursor: pointer;
  background: no-repeat center/contain url(./assets/svg/checkbox-unchecked.svg);

  &:hover {
    filter: $hover-effect;
  }

  &:checked {
    background: no-repeat center/contain url(./assets/svg/checkbox-checked.svg);
  }
}

.shop-price,
.shop-mpix {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.slider {
  height: 4px;
  margin: 0 8px;
  border: none;
  background: $text-secondary-color;

  & .noUi-handle::before,
  & .noUi-handle::after {
    display: none;
  }

  & .noUi-connect {
    background: $accent-color;
  }

  & .noUi-handle {
    height: 16px;
    width: 16px;
    top: -6px;
    right: -8px;
    /* half the width */
    border-radius: 8px;
    background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(255, 255, 255, 0.2) 0%, rgba(157, 243, 255, 0.2) 100%);
  }

  & .noUi-handle .noUi-touch-area {
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    width: auto;
    height: auto;
    cursor: pointer;
  }
}

.slider__labels {
  display: flex;
  justify-content: space-between;
}

.shop-price__labels-low,
.shop-price__labels-high,
.shop-mpix__labels-low,
.shop-mpix__labels-high {
  appearance: textfield;
  text-align: center;
  width: 60px;
  height: 30px;
  border: 1px solid #999;
  color: #303030;
  font-size: 13px;
  line-height: 30px;
  outline: none;
  padding: 0 5px;
  border-radius: 10px;
}

.shop-type,
.shop-stab {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.shop-stab__list {
  display: flex;
  align-items: center;
  gap: 15px;
}

.shop-stab__option {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 18px;
  transition: .3s;
  cursor: pointer;

  &:hover {
    filter: $hover-effect;
  }
}

.shop-stock {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.btn_stock {
  order: 1;
}

.shop-reset {
  width: 240px;
  height: 30px;
  align-self: center;
  background: $accent-dark-color;
  border-radius: 30px;
  font-family: $font-main;
  padding: 0 5px;
  font-size: 16px;
  color: $text-color;
  border: 2px solid $text-secondary-color;
  transition-duration: 0.4s;
}

.shop-reset:hover {
  border: 2px solid $accent-color;
}

.shop-reset:active {
  background: $accent-color;
}

.shop-goods {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  gap: 12px;
  justify-content: flex-start;
  background: $primary-color;
  // border: $accent-color 2px solid;
  border-radius: 20px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 4px, rgba(0, 0, 0, 0.09) 0px 2px 5px, rgba(0, 0, 0, 0.07) 0px 0px 2px 0.00144px;
  margin-bottom: 15px;
}

.shop-card {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 10px;
  width: 250px;
  height: 450px;
  justify-content: flex-start;
  background: $primary-color;
  border-radius: 10px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  transition: all 0.2s;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 4px, rgba(0, 0, 0, 0.09) 0px 2px 5px, rgba(0, 0, 0, 0.07) 0px 0px 2px 0.00144px;

  &:hover {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3), 0px 2px 5px rgba(0, 0, 0, 0.15), 0px 0px 2px 0.00144px rgba(0, 0, 0, 0.12);
  }
}

.shop-card__name {
  font-weight: 700;
  line-height: 26px;
  height: 52px;
  font-size: 21px;
}

.shop-card__price-mp {
  display: flex;
}

.shop-card__block {
  display: flex;
  align-items: flex-end;
  gap: 5px;
}

.text-big {
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}

.text-aux {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: $text-secondary-color;
}

.shop-card__price-mpix,
.shop-card__stock-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.text-in-stock {
  color: $accent-color;
}

.text-out-of-stock {
  color: $text-secondary-color;
}

.shop-card__cart {
  width: 119px;
  height: 32px;
  background: $text-color;
  color: $primary-color;
  border: $text-color 2px solid;
  border-radius: 8px;
  font-family: $font-main;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}