@import 'nouislider/dist/nouislider.css';

.shop-page {
  // background: $accent-dark-color;
  width: 100%;
}

.shop-container {
  max-width: 1720px;
  width: 95%;
  display: grid;
  grid-template-columns: 350px 1fr;
  grid-template-rows: min-content 1fr;
  margin: auto;
  gap: 15px;

  @media screen and (max-width: 1279px) {
    width: 98%;
  }

  @media screen and (max-width: 939px) {
    grid-template-columns: 210px 1fr;
    gap: 10px;
  }

  @media screen and (max-width: 767px) {
    width: 95%;
    grid-template-columns: 1fr;
    gap: 10px;
  }
}

.shop-left-side {
  display: flex;
  flex-direction: column;
  width: 350px;
  gap: 15px;

  @media screen and (max-width: 939px) {
    width: auto;
    gap: 5px;
  }

  @media screen and (max-width: 767px) {
    margin-left: -3px;
  }
}

.dropdown-filters {
  display: none;

  @media screen and (max-width: 767px) {
    display: flex;
    background: $primary-color;
    border-radius: 20px;
    width: 100%;
    justify-content: space-between;
    padding: 5px 15px;
    align-items: center;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 4px, rgba(0, 0, 0, 0.09) 0px 2px 5px, rgba(0, 0, 0, 0.07) 0px 0px 2px 0.00144px;
  }
}

.dropdown-filters__img {
  height: 30px;
  transition: all 0.3s;
}

.shop-options {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px;
  gap: 10px;
  justify-content: space-around;
  background: $primary-color;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 4px, rgba(0, 0, 0, 0.09) 0px 2px 5px, rgba(0, 0, 0, 0.07) 0px 0px 2px 0.00144px;
  height: calc(100vh - 210px);
  min-height: 630px;
  max-height: 770px;
  transition: all .4s ease;

  @media screen and (max-width: 939px) {
    width: 210px;
    padding: 10px;
    height: auto;
    min-height: auto;
    max-height: none;
  }

  @media screen and (max-width: 767px) {
    width: auto;
  }
}

.shop-maker {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.shop-maker__list,
.shop-type__list {
  display: grid;
  row-gap: 10px;
  column-gap: 20px;
  grid-template-columns: 1fr 1fr;

  @media screen and (max-width: 939px) {
    grid-template-columns: 1fr;
  }

  @media screen and (max-width: 767px) {
    grid-template-columns: 1fr 1fr;
  }
}

.shop-maker__select {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.shop-maker__option {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-size: 18px;
  transition: .3s;
  cursor: pointer;

  &:hover {
    filter: $hover-effect;
  }

  @media screen and (max-width: 359px) {
    font-size: 16px;
    gap: 10px;
  }
}

.checkbox_shop:checked+.shop-maker__option,
.checkbox_shop:checked+.shop-options__text {
  filter: $hover-effect;
}

.checkbox-none:checked+.shop-maker__img {
  filter: $hover-effect;
}

.checkbox-none {
  display: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.shop-maker__img {
  height: 17px;

  @media screen and (max-width: 359px) {
    height: 14px;
  }
}

.checkbox_shop {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 22px;
  height: 22px;
  margin: 0;
  transition: all 0.3s ease;
  cursor: pointer;
  background: no-repeat center/contain url(./assets/svg/checkbox-unchecked.svg);

  &:hover {
    filter: $hover-effect;
  }

  &:checked {
    background: no-repeat center/contain url(./assets/svg/checkbox-checked.svg);
  }
}

.shop-price,
.shop-mpix {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.slider {
  height: 4px;
  margin: 0 8px;
  border: none;
  background: $text-secondary-color;

  & .noUi-handle::before,
  & .noUi-handle::after {
    display: none;
  }

  & .noUi-connect {
    background: $accent-color;
  }

  & .noUi-handle {
    height: 16px;
    width: 16px;
    top: -6px;
    right: -8px;
    /* half the width */
    border-radius: 8px;
    background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(255, 255, 255, 0.2) 0%, rgba(157, 243, 255, 0.2) 100%);
  }

  & .noUi-handle .noUi-touch-area {
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    width: auto;
    height: auto;
    cursor: pointer;
  }
}

.slider__labels {
  display: flex;
  justify-content: space-between;
}

.shop-price__labels-low,
.shop-price__labels-high,
.shop-mpix__labels-low,
.shop-mpix__labels-high {
  appearance: textfield;
  text-align: center;
  width: 60px;
  height: 30px;
  border: 1px solid #999;
  color: #303030;
  font-size: 13px;
  line-height: 30px;
  outline: none;
  padding: 0 5px;
  border-radius: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.shop-type,
.shop-stab {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.shop-stab__list {
  display: flex;
  align-items: center;
  gap: 15px;

  @media screen and (max-width: 939px) {
    align-items: flex-start;
    gap: 10px;
    flex-direction: column;
  }

  @media screen and (max-width: 767px) {
    align-items: center;
    flex-direction: row;
    gap: 5%;
  }
}

.shop-stab__option {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 18px;
  transition: .3s;
  cursor: pointer;

  &:hover {
    filter: $hover-effect;
  }

  @media screen and (max-width: 359px) {
    font-size: 16px;
  }
}

.shop-stock {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.btn_stock {
  order: 1;
}

.shop-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.shop-reset-filters,
.shop-reset-storage {
  width: 240px;
  height: 30px;
  align-self: center;
  background: $accent-dark-color;
  border-radius: 30px;
  font-family: $font-main;
  padding: 0 5px;
  font-size: 16px;
  color: $text-color;
  border: 2px solid $text-secondary-color;
  transition-duration: 0.4s;
  cursor: pointer;

  @media screen and (max-width: 939px) {
    width: 95%;
  }
}

.shop-reset-filters:hover,
.shop-reset-storage:hover {
  border: 2px solid $accent-color;
}

.shop-reset-filters:active,
.shop-reset-storage:active {
  background: $accent-color;
}

.shop-goods {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  gap: 12px;
  justify-content: flex-start;
  background: $primary-color;
  border-radius: 20px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 4px, rgba(0, 0, 0, 0.09) 0px 2px 5px, rgba(0, 0, 0, 0.07) 0px 0px 2px 0.00144px;
  margin-bottom: 15px;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;

  @media screen and (max-width: 939px) {
    padding: 10px;
    gap: 10px;
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 0px;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
  }

  @media screen and (max-width: 530px) {
    justify-content: space-around;
  }
}

.modal-overlay {
  display: none;
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.shop-popup {
  background-color: #fefefe;
  margin: 40vh auto;
  padding: 15px;
  border: 1px solid $accent-color;
  border-radius: 20px;
  width: 400px;
  box-shadow: rgba(0, 0, 0, 0.3) 5px 10px 10px;
  animation-name: appear;
  animation-duration: 0.4s
}

@keyframes appear {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

.shop-popup__button {
  float: right;
  width: 25px;
  height: 25px;

  &:hover,
  &:focus {
    filter: $hover-effect;
    cursor: pointer;
  }
}

.shop-popup__text {
  text-align: center;
  font-size: 24px;
  margin: 40px 20px 25px;
}

.shop-options {
  @media screen and (max-width: 767px) {
    opacity: 0;
    overflow: hidden;
    height: 0px;
    padding: 0;
  }
}

#dropdown-filters:checked~.shop-options {
  @media screen and (max-width: 767px) {
    opacity: 1;
    height: 620px;
    padding: 10px;
  }
}

@keyframes slide-down {
  from {
    height: 0px;
  }

  to {
    height: 620px;
  }
}

.dropdown__text::before {
  content: 'Показать ';
}

#dropdown-filters:checked~.dropdown-filters>.dropdown__text::before {
  content: 'Скрыть ';
}

#dropdown-filters:checked~.dropdown-filters>.dropdown-filters__img {
  transform: rotate(180deg);
}