@import url('https://fonts.googleapis.com/css2?family=Finlandica&family=Neucha&display=swap');
$primary-color: #192F2D;
$accent-color: #278D9F;
$accent-dark-color: #3C5757;
$text-color: #fff;
$font-header: 'Neucha', cursive;
$font-main: 'Finlandica', sans-serif;
$hover-effect: invert(42%) sepia(94%) saturate(317%) hue-rotate(141deg) brightness(93%) contrast(97%);

body {
  font-family: $font-main;
  margin: 0;
  padding: 0;
  color: $text-color;
}

h1,
h2,
h3,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.hide {
  display: none;
}