.main-page {
  display: flex;
  background: no-repeat center/cover url(./assets/bg.jpg), $primary-color;
  width: 100%;
  height: calc(100vh - 120px);
  min-height: 768px;
  font-family: $font-header;
}

.main__image-left {
  position: absolute;
  top: 0;
  left: 10vw;
}

.main__image-right {
  position: absolute;
  top: 0;
  right: 10vw;
}

.main__ui {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: auto;
  gap: 40px;
}

.main__text-container {
  display: flex;
  position: relative;
  z-index: 1;
  align-items: center;
  justify-content: center;
  background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(36, 197, 219, 0.15) 0%, rgba(36, 197, 219, 0) 100%);
  backdrop-filter: blur(31px);
  border: 2px solid $accent-color;
  border-radius: 30px;
  width: 600px;
  height: 250px;
}

.main__text {
  text-align: center;
  font-size: 53px;
  line-height: 58px;
  text-transform: uppercase;
}

.main__button {
  align-self: center;
  background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(36, 197, 219, 0.15) 0%, rgba(36, 197, 219, 0) 100%);
  backdrop-filter: blur(31px);
  border: 2px solid $accent-color;
  border-radius: 30px;
  height: 54px;
  width: 320px;
  font-size: 24px;
  line-height: 29px;
  font-family: $font-header;
  color: $text-color;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.25s;
}

.main__button:hover {
  border: 3px solid $text-color;
  box-shadow: 0 0 0.4em 0.1em rgba(255, 255, 255, 0.3);
  font-size: 28px;
}