.winners {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 40px;
}

.winners-text {
  font-family: $font-header;
  font-size: 100px;
  font-weight: 400;
  line-height: 75px;
  text-align: center;
  background: $accent-bg;
  color: $text-secondary-color;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.winners-table,
.winners-table__list {
  width: 665px;
  font-size: 24px;
  text-align: center;
  border: none;
  border-spacing: 0;
}

.winners-table__no {
  width: 60px;
}

.winners-table__winner {
  width: auto;
}

.winners-table__wins {
  width: 120px;
}

.winners-table__best-time {
  width: 120px;
}

.winners-table__container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.winners-table__img {
  position: relative;
  width: 100px;
  padding-bottom: 30px;
}

.winners-table__header {
  background: $primary-bg;
  padding: 5px 10px;
}

.winners-table__winner {
  background: $accent-bg;
  padding: 5px 10px;
}

.winners-table__cell {
  background: $primary-bg;
  padding: 5px 10px;
}

.winners__footer {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.winners-number-container {
  display: flex;
  background: $primary-bg;
  align-items: center;
  justify-content: center;
}

.winners-number-text {
  padding: 5px 10px;
}

.btn-winner-prev {
  display: flex;
  padding-left: 25px;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 180px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 40px 100%);
  cursor: pointer;
}

.btn-winner-next {
  display: flex;
  padding-right: 25px;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 180px;
  clip-path: polygon(0% 0%, 100% 0, calc(100% - 40px) 100%, 0% 100%);
  cursor: pointer;
}

.sort-wins__img,
.sort-time__img {
  width: 15px;
  height: auto;
  margin: 5px;
}

.sort-wins,
.sort-time {
  display: flex;
  justify-content: center;
  gap: 5px;
  cursor: pointer;

  &:hover {
    filter: $hover-effect;
  }
}

.table-container {
  margin-bottom: 20px;
}